{
  "presets": [
    ["@babel/typescript"],
    ["@babel/preset-env", {"modules": false}]
  ],
  "ignore": ["src/presentation/cli"],
  "env": {
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements"
      ]
    },
    "test": {
      "presets": ["@babel/typescript", "@babel/preset-env"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    ["babel-plugin-styled-components", {"ssr": true}],
    "angular2-annotations",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "add-react-displayname",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-root-import", {"rootPathSuffix": "src"}],
    "@babel/plugin-transform-flow-strip-types"
  ]
}
