{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": "last 1 version"
      },
      "modules": false
    }],
    "react"
  ],
  "ignore": ["src/presentation/cli"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "angular2-annotations",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    ["babel-root-import", [{
      "rootPathSuffix": "src"
    }]],
    "transform-class-properties"
  ]
}
