{
  "presets": ["es2015", "stage-0", "react"],
  "ignore": ["src/presentation/cli"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  },
  "plugins": [
    "angular2-annotations",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    "add-module-exports",
    ["babel-root-import", [{
      "rootPathSuffix": "src"
    }]]
  ]
}
