{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
  }
}
