.settingsPane :global(.Select-placeholder) {
  line-height: inherit !important;
}

.settingsPane :global(.Select-value) {
  background-color: #fff !important;
  color: #08c !important;
}

.settingsPane :global(.Select-placeholder) {
  padding: 12px 52px 8px 18px !important;
}

.settingsPane :global(.Select):global(.Select--multi) :global(.Select-control) {
  padding: 6px 15px !important;
  border-radius: 0 !important;
  border: 1px solid color($dark-red lightness(-10%)) !important;
  border-bottom: none !important;
}

.settingsPane :global(.Select-menu-outer) {
  border-radius: 0 !important;
  border-left-color: color($dark-red lightness(-10%)) !important;
  border-right-color: color($dark-red lightness(-10%)) !important;
  border-bottom-color: color($dark-red lightness(-10%)) !important;
}

.settingsPane :global(.Select-control) {
  background-color: color($dark-red lightness(95%)) !important;
}

.noTransition {
  transition: none !important;
}

@media screen and (max-width: 400px) {
  .menu > button {
    font-size: 1.6em;
  }

  .menu,
  .menuContents.closed {
    width: 100% !important;
    height: 60px !important;
  }

  .menu {
    bottom: 0;
    left: 0;
  }

  .menuContents {
    height: 100% !important;
  }
}
