html,
body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100%;
  padding: 1% 2% 100px;
  background: $light-grey;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.container.pushed {
  transition-duration: 0.5s;
  transform: translateX(300px);
}

.login .container {
  height: 100%;
}

.contentStyleSidebar {
  position: relative;
  max-width: 300px;
  min-width: 300px;
}

.contentStyleSidebar ul,
.contentStyleSidebar li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contentStyleSidebar ul {
  border-top: 1px solid color($dark-red lightness(-10%));
}

.contentStyleSidebar li {
  border-bottom: 1px solid color($dark-red lightness(-10%));
}

.contentStyleSidebar li svg {
  margin: 2% 5% 2% 2vw;
  float: left;
  stroke: color($dark-red lightness(-25%));
}

.contentStyleSidebar li a,
.contentStyleSidebar li a:visited,
.contentStyleSidebar li a:active,
.contentStyleSidebar li a:focus,
.contentStyleSidebar li a:hover {
  padding: 6px 15px;
  display: block;
  line-height: 40px;
  padding-left: 50px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.contentStyleSidebar li a:active,
.contentStyleSidebar li a:focus,
.contentStyleSidebar li a:hover {
  background: color($dark-red lightness(+3%));
}

.settingsPane {
  border-left: 1px solid color($dark-red lightness(-10%));
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.settingsPane :global(.Select-placeholder) {
  line-height: inherit !important;
}

.settingsPane :global(.Select-value) {
  background-color: #fff !important;
  color: #08c !important;
}

.settingsPane :global(.Select-placeholder) {
  padding: 12px 52px 8px 18px !important;
}

.settingsPane :global(.Select):global(.Select--multi) :global(.Select-control) {
  padding: 6px 15px !important;
  border-radius: 0 !important;
  border: 1px solid color($dark-red lightness(-10%)) !important;
  border-bottom: none !important;
}

.settingsPane :global(.Select-menu-outer) {
  border-radius: 0 !important;
  border-left-color: color($dark-red lightness(-10%)) !important;
  border-right-color: color($dark-red lightness(-10%)) !important;
  border-bottom-color: color($dark-red lightness(-10%)) !important;
}

.settingsPane :global(.Select-control) {
  background-color: color($dark-red lightness(95%)) !important;
}

.settingsOpen .settingsPane {
  display: block;
}

.settingsPaneContent {
  padding: 0 2vw 2em;
}

.menu {
  display: block;
  margin: 0 auto;
}

.menu .iconServer {
  border-color: color($dark-red lightness(-20%));
  width: 24px;
  height: 24px;
  float: left;
  margin: 4.5% 7% 4.5% 2.1vw;
}

.menu .iconStacks {
  width: 36px;
  margin-left: 1.7vw;
}

.menu .iconLogout {
  width: 32px;
  margin-left: 1.9vw;
}

.menuButton {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  border: none;
  background-color: $dark-red;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}
.menuButton span { display: none; }

.menuButton.leave {
  pointer-events: none;
  opacity: 0.99;
  transition: opacity 0.1s;
  z-index: 2000;
}
.menuButton.leave.leaveActive { opacity: 0; }

.menuButton.enter {
  opacity: 0.01;
  transition: opacity 0.1s 0.4s;
}
.menuButton.enter.enterActive { opacity: 1; }

.menuContents {
  pointer-events: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  opacity: 1;
  background: $dark-red;
  width: 300px;
  height: 100%;
  overflow: hidden;
}

.menuButton {
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 50px;
  top: auto;
}

.menuContents h2,
.menuContents h3 {
  color: color($dark-red lightness(-15%));
  font-weight: 300;
}

.menuContents h2 {
  font-size: 2em;
  padding: 0.5em 2vw 0;
  letter-spacing: -1px;
}

.menuContents h3 {
  font-size: 1.5em;
  padding: 0 2vw;
  letter-spacing: -0.5px;
  margin-top: 0;
}

.menuContents > div {
  visibility: visible;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s 0.5s;
  display: flex;
}

.menuContents.closed > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.menuContents.settingsOpen {
  width: auto !important;
}

.noTransition {
  transition: none !important;
}

@media screen and (max-width: 400px) {
  .menu > button {
    font-size: 1.6em;
  }

  .menu,
  .menuContents.closed {
    width: 100% !important;
    height: 60px !important;
  }

  .menu {
    bottom: 0;
    left: 0;
  }

  .menuContents {
    height: 100% !important;
  }
}
