.deployPagination {
  margin-top: 2em;
  user-select: none;
}

.deployPagination ul {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bold;
}

.deployPagination li {
  display: inline-block;
  margin: 0 0.5em;
  width: 2em;
  height: 2em;
  line-height: 1.8em;
  overflow: hidden;
}

.deployPagination li:global(.selected) {
  border: 1px solid color($light-grey lightness(-10%));
  background: color($light-grey lightness(+10%));
}

.deployPagination li:global(.disabled) {
  color: color($light-grey lightness(-30%));
}

.deployPagination li:not(:global(.disabled)) {
  cursor: pointer;
}

.pageLoader {
  margin: 5em auto 7em;
}
