.stackSelectWrap { width: 300px; }

.stackSelectWrap > div::before,
.deploy::before {
  position: absolute;
  color: color($light-grey lightness(-30%));
  text-transform: uppercase;
  font-size: 0.7em;
}

.deploy {
  border-bottom: 1px solid color($light-grey lightness(-10%));
  padding: 20px 20px 30px 20%;
  margin-top: 1em;
  position: relative;
}

.deploy::before {
  content: 'Deploy:';
  top: 0;
}

.deployButton {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  transform: translateY(-1px);
}

.deploySelect:global(.Select) {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 1em 0 0;
}

.targetsSelect:global(.Select) {
  width: 460px;
  margin-left: 1em;
}

.branchSelect:global(.Select) {
  width: 200px;
  line-height: 32px;
}

.deploySelect:global(.Select) :global(.Select-control) {
  padding: 8px 52px 8px 10px !important;
  transition: none !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.deploySelect:global(.is-focused):not(:global(.is-open)) > :global(.Select-control) {
  box-shadow: none !important;
}

.deploySelect :global(.Select-control) {
  border-radius: 0 !important;
  border: none !important;
}

.branchSelect :global(.Select-placeholder),
.targetsSelect :global(.Select-placeholder),
.branchSelect :global(.Select-value) {
  line-height: 51px !important;
  padding-left: 18px !important;
}

.branchSelect :global(.Select-input) {
  padding-left: 5px;
}

.deploySelect :global(.Select-input) {
  padding-left: 5px;
  padding-top: 1px;
}

.deploySelect :global(.Select-arrow-zone) {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 18px;
  margin-top: 1px;
}
.targetsSelect :global(.Select-arrow-zone) { margin-top: 7px; }

.deploySelect :global(.Select-placeholder) {
  color: color(#fff lightness(-20%)) !important;
}

.deploySelect :global(.Select-value-label) {
  font-weight: bold;
}

.deploySelect:global(.has-value) :global(.Select-placeholder),
.deploySelect :global(.Select-input) > input {
  color: $dark-grey !important;
}

.deploySelect :global(.Select-placeholder),
.deploySelect :global(.Select-input) > input {
  font-weight: 700;
}

.targetsSelect :global(.Select-value) {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.targetsSelect :global(.Select-value-icon) {
  border-radius: 0 !important;
}

.targetsSelect :global(.Select-value-label) {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.deploySelect :global(.Select-menu-outer) {
  border-radius: 0 !important;
  border: none !important;
  border-top: 1px solid #eee !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.deploySelect :global(.Select-clear-zone) {
  position: absolute;
  display: inline-block;
  top: 14px;
  right: 32px;
}
