.root {
  font-size: 0.9em;
  list-style: none;
  margin: 1px 0 0;
  padding: 0;
  min-height: 1.3em;
}

.root li {
  float: left;
  margin-right: 2em;
  font-weight: bold;
  color: color($dark-grey lightness(+10%));
}

.rev {
  font-weight: normal;
  color: color($light-grey lightness(-30%));
  text-decoration: none;
  transition: color 0.1s;
  margin-left: 0.3em;
}

a.rev:hover {
  color: $dark-grey;
}
