*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: $dark-grey;
  color: $dark-grey;
  width: 100%;
  height: 100%;
}

html,
body,
body > div {
  width: 100%;
  height: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}
