.form p {
  margin: 0 0 1.5em;
}

.form label {
  text-transform: uppercase;
  font-size: 0.7em;
  color: color($light-grey lightness(-30%));
}
.form label::after { content: ':'; }

.form input[type=text],
.form input[type=email],
.form input[type=password],
.form textarea {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid color($light-grey lightness(-20%));
  font-size: 18px;
  width: 100%;
  max-width: 400px;
  display: block;
}

.button,
.headerButton {
  outline: none;
  text-transform: uppercase;
  transition: all 0.1s;
  padding: 6px 15px;
}

.button {
  border: none;
  font-size: 0.9em;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: $dark-grey;
  color: #fff;
  line-height: 34px;
  margin: 1px;
  margin-left: 0;
  padding: 0 30px;
  white-space: nowrap;
}

.button .loader {
  height: 20px;
  fill: white;
  transform: translateY(4px);
  width: 0;
  margin-left: 0;
  transition: all 0.1s;
}

.button.isLoading .loader {
  margin-left: 6px;
  width: 20px;
}

.button:hover,
.button:focus {
  background: #fff;
  color: $dark-grey;
}

.button:hover .loader,
.button:focus .loader {
  fill: $dark-grey;
}

.button.cta {
  background: $green;
  color: #fff;
}

.button.cta:hover,
.button.cta:focus {
  background: #fff;
  color: $green;
  box-shadow: 0 1px 1px color(#fff lightness(-10%));
}
.button.large { padding: 10px 30px; }

.headerButton {
  font-size: 0.9rem;
  font-weight: normal;
  border: 1px solid color($dark-red lightness(-10%));
  background-color: transparent;
  color: color($dark-red lightness(-15%));
  vertical-align: middle;
  margin-left: 1em;
}

.headerButton:hover,
.headerButton:focus {
  background: color($dark-red lightness(-10%));
  color: $dark-grey;
}
