.root > h1 {
  background: no-repeat 50% 50%;
  background-size: 100%;
  width: 150px;
  height: 190px;
  float: left;
  margin: 0 0 0 5%;
  position: relative;
  z-index: 1;
}

.root.centre {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.content { margin-left: 20%; }
