.svgIcon {
  width: 40px;
  height: 40px;
  stroke: #fff;
  stroke-width: 1px;
  fill: transparent;
  margin: 5px;
}

.iconRemove,
.iconClose {
  z-index: 100;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-indent: -119988px;
  text-align: left;
  text-transform: capitalize;
}

.iconRemove::before,
.iconClose::before,
.iconRemove::after,
.iconClose::after {
  display: block;
  content: '';
  height: 1px;
  width: 40px;
  background: #fff;
  position: absolute;
  top: 24px;
  left: 5px;
}

.iconRemove::before,
.iconClose::before { transform: rotate(-45deg); }

.iconRemove::after,
.iconClose::after { transform: rotate(45deg); }

.iconClose {
  width: 50px;
  height: 50px;
  position: absolute !important;
  top: 0;
  right: 5px;
}

.iconServer {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}
