:global(.is-focused):not(:global(.is-open)) > :global(.Select-control) {
  border-color: none;
  box-shadow: none;
}

:global(.Select--multi) :global(.Select-value):first-child {
  margin-left: 0;
}

:global(.Select-clear) {
  top: 1px !important;
  position: relative;
}

:global(.Select-arrow) {
  top: -1px !important;
  position: relative;
}

:global(.Select--multi) :global(.Select-input) {
  margin-left: 0;
}

:global(.Select-input) > input {
  padding: 6px 3px 12px;
}

:global(.Select-value) {
  margin-left: 0 !important;
  margin-right: 5px !important;
}
