.root {
  display: flex;
}

.textField {
  padding: 6px 15px;
  display: block;
  line-height: 34px;
  font-size: 1.1em;
  border: 1px solid color($dark-red lightness(-10%));
  width: 100%;
  background-color: color($dark-red lightness(95%));
}
.textField.firstFields { border-bottom: none; }
