.root {
  border-bottom: 1px solid color($dark-red lightness(-10%));
  padding: 6px 15px;
  display: block;
  line-height: 40px;
  font-size: 1.2em;
  position: relative;
}
.root:hover .actions { display: flex; }

.root.multiline {
  padding: 16px 100px 16px 15px;
  line-height: 18px;
  position: relative;
}

.label {
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: normal;
}

.actions {
  display: none;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 15px;
  background-color: $dark-red;
}

.actions::before {
  width: 20px;
  content: '';
  display: block;
  height: 100%;
  background: linear-gradient(to left, $dark-red, transparent);
  position: absolute;
  left: -20px;
}

.actions > li {
  margin-left: 5px;
  height: 100%;
  padding: 0 4px;
}

.multiline .actions {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
}

.newline {
  display: block;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.iconEdit {
  width: 32px !important;
  height: 32px !important;
  stroke: color($dark-red lightness(-25%)) !important;
  cursor: pointer;
  margin: 0;
}
.iconEdit:hover { stroke: color($dark-red lightness(-35%)) !important; }

.iconRemove {
  width: 30px;
  height: 30px;
}

.iconRemove::before,
.iconRemove::after {
  width: 30px !important;
  top: 15px !important;
  left: 0 !important;
  background: color($dark-red lightness(-25%)) !important;
}

.iconRemove:hover::before,
.iconRemove:hover::after {
  background: color($dark-red lightness(-35%)) !important;
}

.loader {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  fill: color($dark-red lightness(-25%));
}
